.formGroupFail {
    box-sizing: border-box;
    padding: 0 30px;
    max-width: 350px;
    width: 350px;
    height: 300px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0 4px 17px rgba(100, 100, 100, 0.35);
    p{
        font-size: 25px;
        margin: 0;
        margin-bottom: 5px;
    }
    small {
        color: rgb(189, 189, 189);
    }
}