

.button svg.material-icons path {
    fill: #888;
  }

  .button-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 16px;
  }

  .button {
    all: unset;
    border-radius: 4px;
    border: 1px solid #eee;
    background-color: #fafafa;
    height: 20px;
    width: 150px;
    margin: 0 8px 16px;
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    line-height: 24px;
  }

  .button-container .button:not(:last-child) {
    margin-right: 0;
  }

  .button-container .button:not(.highlight-card) {
    cursor: pointer;
  }

  .button-container .button:not(.highlight-card):hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 17px rgba(100, 100, 100, 0.35);
  }
