* {
  font-family: 'Roboto', sans-serif;
}

.button svg.material-icons path {
  fill: #888;
}

.button-container {
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 24px;
}

.button {
  all: unset;
  border-radius: 4px;
  background-color: #ffb4a3;
  height: 20px;
  width: 150px;
  margin: 0 8px 16px;
  padding: 16px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
  line-height: 24px;
}

.button-container .button:not(:last-child) {
  margin-right: 0;
}

.button-container .button:not(.highlight-card) {
  cursor: pointer;
}

.button-container .button:not(.highlight-card):hover {
  background-color: #ff8667;
  // transform: translateY(-3px);
  // box-shadow: 0 4px 17px rgba(100, 100, 100, 0.35);
}